@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/snfrs0ip98hx6mrEJLgK.ttf) format('truetype');
}
@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/snfos0ip98hx6mrMn50aOfl8.ttf) format('truetype');
}
